<html>
<head>
    <meta http-equiv='content-type',content='text/html;charset=utf-8'>
    <title>登录</title>
</head>
<body>
    <h1>测试</h1>
    <form action="###" method="Post" id="login">
        <input type="text" name="username" value="" id="username" placeholder="请输入用户名"/>
        <input type="password" name="password" value="" id="password"  placeholder="请输入密码"/>
        <a  href="###" id="login-btn">登录</a>
    </form>
</body>
	<script src="static/js/jquery-2.1.0.min.js"></script>
	<script src="static/js/login.js"></script>
	
</html>